@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  height: 100vh;
  overflow: hidden;
}

a {
  all: unset;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
button:active {
  scale: 0.95;
}

input {
  border: 1px solid #555;
}
input:focus {
  outline: none;
}

img {
  width: 100%;
  pointer-events: none;
}

.container {
  width: 100%;
  margin: 0 1rem;
}

#vidds_root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

header {
  width: 100%;
  border-bottom: 1px solid #d6d6d6;
  display: flex;
  align-items: center;
  background-color: #fff;
  z-index: 100;
  max-height: 64px;
}
header > div {
  display: flex;
  align-items: center;
  padding: 6px 0;
}
header > div .ham {
  width: 22px;
  margin-right: 0.7rem;
  cursor: pointer;
}
header > div .logo {
  width: 100px;
}
header > div .nav-btns {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
header > div .nav-btns span.question {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
header > div .nav-btns span.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
header > div .nav-btns button.create_video {
  position: absolute;
  z-index: 9;
  bottom: 2rem;
  right: 1rem;
  color: #fff;
  box-shadow: 0 2px 0 1px rgba(64, 87, 109, 0.0705882353), 0 2px 12px rgba(53, 71, 90, 0.3137254902);
  background-image: linear-gradient(180deg, #a312bb, #a312bb, #5165ce);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
header > div .nav-btns button.create_video span.plus {
  width: 40px;
  height: 40px;
}
header > div .nav-btns button.create_video span.text {
  display: none;
  font-weight: 600;
}

main {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
}
main .aside-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5019607843);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  transition: 0.2s ease;
  z-index: 999;
}
main aside {
  padding: 1.5rem 0.5rem;
  border-right: 1px solid #efefef;
  width: 250px;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  transition: 0.2s ease;
  background-color: #fff;
  position: absolute;
  top: 0;
}
main aside ul.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
main aside ul.menu li {
  border-radius: 4px;
}
main aside ul.menu li:hover, main aside ul.menu li[active] {
  cursor: pointer;
  background-color: #d4e2ff;
}
main aside ul.menu li > div {
  padding: 0.3rem 0.7rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
main aside ul.menu li > div .icon {
  min-width: 28px;
}
main aside ul.menu li > div .text {
  font-weight: 600;
  color: #555;
  font-size: 1rem;
  max-height: 28px;
  transition: 0.1s ease;
  min-width: 191px;
}
main aside div.plans {
  margin-top: 3rem;
  padding: 20px 10px;
  border-top: 1px solid #bfbfc8;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main aside div.plans h3 {
  display: flex;
  align-items: center;
}
main aside div.plans h3 .icon {
  min-width: 28px;
  margin-right: 0.5rem;
}
main aside div.plans h3 span.text {
  font-weight: 600;
  color: #555;
  font-size: 1.2rem;
  min-width: 191px;
}
main aside div.plans .ranges {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main aside div.plans .ranges > span {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
main aside div.plans .ranges > span > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}
main aside div.plans .ranges > span > span label {
  font-size: 0.8rem;
  font-weight: 700;
}
main aside div.plans .ranges > span > span a {
  all: revert;
  font-weight: 600;
}
main aside div.plans .ranges > span progress {
  width: 100%;
}
main aside div.plans button {
  margin-top: 1.2rem;
  width: 80%;
  align-self: center;
  padding: 8px 11px;
  font-weight: 700;
  font-size: 0.9rem;
  border: 2px solid #5165ce;
  border-radius: 7px;
}
main aside div.plans button:hover {
  background-color: #5165ce;
  color: #fff;
}
main .aside-overlay[data-maximized=true] {
  opacity: 1;
}
main .aside-overlay[data-maximized=true] aside {
  left: 0;
}
main .aside-overlay[data-maximized=true] aside ul.menu .text {
  visibility: visible;
}
main .aside-overlay[data-maximized=true] aside div.plans {
  visibility: visible;
}
main .aside-overlay[data-maximized=false] {
  opacity: 0;
  pointer-events: none;
}
main .aside-overlay[data-maximized=false] aside {
  left: -100%;
}
main .aside-overlay[data-maximized=false] aside ul.menu .text {
  visibility: hidden;
  width: 0px;
}
main .aside-overlay[data-maximized=false] aside div.plans {
  visibility: hidden;
}
main section.vidds_main_container {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: calc(100vh - 64px);
  overflow: auto;
  padding-bottom: 100px;
  background-color: #fff;
  background-color: #fafafa;
}
main section.vidds_main_container > div {
  flex-basis: 100%;
  display: none !important;
}
main section.vidds_main_container > div[active-route] {
  display: block !important;
  margin-inline: auto;
  -webkit-animation: slide-in 0.3s ease;
          animation: slide-in 0.3s ease;
}
main section.vidds_main_container > div[active-route] .spacer {
  padding: 10px;
}
main .route_container {
  width: 100vw;
  flex: 1;
}
main .route_container .sec {
  max-width: 100%;
  padding: 10px 5px 20px;
  background-image: linear-gradient(120deg, #5165ce, #5165ce, #89acfd);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3137254902);
}
main .route_container .sec .head {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  color: #fff;
  padding: 10px 10px 20px;
}
main .route_container .sec .head h1 {
  font-size: 1rem;
}
main .route_container .sec .head button {
  color: #fff;
  font-size: 0.9rem;
  padding: 6px 10px;
  background: rgba(9, 18, 66, 0.6980392157);
  border-radius: 6px;
  font-size: 0.9rem;
}
main .route_container .sec .head > span {
  cursor: pointer;
  width: 20px;
}
main .route_container .sec .carousel.expand {
  padding: 0 0 0;
  overflow: hidden;
  transition: 0.3s ease;
  position: relative;
}
main .route_container .sec .carousel.expand .carousy_container .carousal_nav {
  top: 50%;
}
main .route_container .sec .carousy_container {
  position: relative;
}
main .route_container .sec .carousy_container #d_c_container #d_c {
  gap: 16px;
  padding: 0 16px !important;
  list-style: none;
}
main .route_container .sec .carousy_container #d_c_container #d_c [data-carousy-el=card] {
  height: 100px;
  aspect-ratio: 4.5/3;
  background-color: #bfbfc8;
  border-radius: 10px;
}
main .route_container .sec .carousy_container #d_c_container #d_c [data-carousy-el=card-title] {
  display: inline-block;
  margin-top: 0.3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
}
main .route_container .sec .carousy_container .carousal_nav {
  position: absolute;
  width: 100%;
  top: calc(50% - 0.65rem);
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  display: flex;
  justify-content: space-between;
}
main .route_container .sec .carousy_container .carousal_nav button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  pointer-events: all;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3098039216);
  background-color: #5165ce;
  border: 1px solid rgb(94, 94, 94);
}
main .route_container .sec .carousal_container {
  flex: 1;
}
main .route_container .sec .carousal_container ul {
  padding: 0 8px;
}
main .route_container .sec .carousal_container ul .card_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
main .route_container .sec .carousal_container ul .card_container div.card {
  height: 90px;
  aspect-ratio: 4.5/3;
  background-color: #bfbfc8;
  border-radius: 10px;
}
main .route_container .sec .carousal_container ul .card_container span.text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #fff;
  font-size: 0.9rem;
}
main .route_container .sec .carousal_container .glide__arrows {
  position: absolute;
  top: calc(50% + 10px);
  left: 50%;
  width: calc(100% - 15px);
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}
main .route_container .sec .carousal_container .glide__arrows .carousal_nav {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3137254902);
  border: 1px solid #bfbfc8;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #5165ce;
}
main .route_container .sec .carousal_container .glide__arrows .carousal_nav:active {
  scale: 0.96;
}
main .route_container .sec .inputs {
  padding: 10px 10px 30px;
  display: flex;
  gap: 10px;
}
main .route_container .sec .inputs select {
  padding: 10px 20px 10px 5px;
  width: 200px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3137254902);
  background-color: #fff;
  font-size: 0.9rem;
}
main .route_container .sec .inputs div.ip {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3137254902);
  padding-right: 10px;
  border-radius: 4px;
}
main .route_container .sec .inputs div.ip input {
  padding: 10px 20px 10px 5px;
  width: 150px;
  border-radius: 4px;
  border: none;
  font-size: 0.9rem;
}
main .route_container .sec .inputs div.ip .icon {
  width: 22px;
}
main .route_container .sec.vidds_container {
  margin-top: 25px;
  background-image: linear-gradient(0, #d4e2ff, #d4e2ff, #d4e2ff);
}
main .route_container .sec.vidds_container .head {
  color: #222;
}
main .route_container .sec.vidds_container .cards_container {
  padding: 0 10px 30px;
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  overflow: auto;
  /* width */
  /* Track */
  /* Handle */
}
main .route_container .sec.vidds_container .cards_container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
main .route_container .sec.vidds_container .cards_container::-webkit-scrollbar-track {
  background: transparent;
}
main .route_container .sec.vidds_container .cards_container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
main .route_container .sec.vidds_container .cards_container .card {
  min-width: 150px;
  aspect-ratio: 5/3;
  background-color: #e7eeff;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(40, 47, 49, 0.545);
  cursor: pointer;
  position: relative;
}
main .route_container .sec.vidds_container .cards_container .card:hover {
  background-color: rgba(0, 0, 0, 0.062745098);
}
main .route_container .sec.section-3 {
  margin-top: 25px;
  background-image: linear-gradient(90deg, #091242, #091242, #5165ce);
}
main .route_container .sec.section-3 .head h1 {
  margin: 0 auto;
}
main .route_container .sec.section-3 .carousy_container .carousal_nav button {
  background-color: #091242 !important;
  border: 1px solid rgb(94, 94, 94);
}
main .route_container .sec.section-3 .carousal_container .glide__arrows {
  top: calc(50% - 10px);
}
main .route_container .sec.section-3 .carousal_container .glide__arrows .carousal_nav {
  background-color: #091242 !important;
}
main .route_container#vidds_my_vidds .vidds_container {
  margin-top: 0;
}
main .route_container#vidds_my_vidds .carousal_section {
  margin-top: 40px;
}
main .route_container#vidds_brand_kits .vidds_container {
  margin-top: 0;
}
main .route_container#vidds_brand_kits .vidds_container .cards_container .card {
  position: relative;
}
main .route_container#vidds_brand_kits .vidds_container .cards_container .card .title {
  font-size: 0.9rem;
  font-weight: 600;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
main .route_container#vidds_brand_kits .vidds_container .cards_container .card .option_btns {
  position: absolute;
  bottom: 5px;
  right: 10px;
}
main .route_container#vidds_brand_kits .carousal_section {
  margin-top: 40px;
}
main .route_container#vidds_templates .vidds_container {
  margin-top: 0;
}
main .route_container#vidds_templates .vidds_container .cards_container .card:hover button {
  display: initial;
}
main .route_container#vidds_templates .vidds_container .cards_container .card button {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
  color: #fff;
  font-size: 0.9rem;
  padding: 7px 14px;
  background: rgba(9, 18, 66, 0.6980392157);
  border-radius: 6px;
  background-color: #5165ce;
}
main .route_container#vidds_tutorials .vidds_container {
  background-image: linear-gradient(90deg, #091242, #091242, #5165ce);
  margin-top: 0;
}
main .route_container#vidds_tutorials .vidds_container .head {
  color: #fff;
}
main .route_container#vidds_tutorials .vidds_container .card:hover {
  background-color: #5165ce;
}
main .route_container#vidds_tutorials .carousal_section {
  margin-top: 20px;
}

@-webkit-keyframes slide-in {
  0% {
    position: relative;
    top: 10px;
    opacity: 0;
  }
  100% {
    position: relative;
    top: 0;
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    position: relative;
    top: 10px;
    opacity: 0;
  }
  100% {
    position: relative;
    top: 0;
    opacity: 1;
  }
}
.dpd {
  position: absolute;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3137254902);
  background-color: #fff;
  border-radius: 6px;
  transition: 0.2s ease;
}

div.dpd_create_video {
  z-index: 10;
  width: 100%;
  height: 570px;
  bottom: 0;
  left: 0;
}
div.dpd_create_video .dpd_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px 0 15px 0;
}
div.dpd_create_video .dpd_container div.dpd_head {
  padding: 0 20px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}
div.dpd_create_video .dpd_container div.platforms {
  height: 355px;
  overflow: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
div.dpd_create_video .dpd_container div.platforms::-webkit-scrollbar {
  width: 8px;
}
div.dpd_create_video .dpd_container div.platforms::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div.dpd_create_video .dpd_container div.platforms::-webkit-scrollbar-thumb {
  background: #898989;
  border-radius: 30px;
}
div.dpd_create_video .dpd_container div.platforms::-webkit-scrollbar-thumb:hover {
  background: #555;
}
div.dpd_create_video .dpd_container div.platforms ul {
  list-style: none;
  font-size: 0.9rem;
  font-weight: 600;
  color: #555;
}
div.dpd_create_video .dpd_container div.platforms ul li {
  padding: 10px 20px;
}
div.dpd_create_video .dpd_container div.platforms ul li:hover {
  background-color: #d4e2ff;
  cursor: pointer;
}
div.dpd_create_video .dpd_container div.cutomize_section {
  padding: 10px 20px;
  margin-top: auto;
  height: 153px;
  background-color: #f9f9f9;
  border-top: 1px solid #bfbfc8;
  display: flex;
  flex-direction: column;
}
div.dpd_create_video .dpd_container div.cutomize_section h4 {
  font-size: 0.9rem;
}
div.dpd_create_video .dpd_container div.cutomize_section div.width_height {
  display: flex;
  gap: 6px;
  margin-top: auto;
  margin-bottom: auto;
}
div.dpd_create_video .dpd_container div.cutomize_section div.width_height div {
  flex: 1;
}
div.dpd_create_video .dpd_container div.cutomize_section div.width_height div label {
  font-size: 0.9rem;
  font-weight: 600;
}
div.dpd_create_video .dpd_container div.cutomize_section div.width_height div div {
  margin-top: 3px;
  display: flex;
  align-items: center;
  gap: 2px;
}
div.dpd_create_video .dpd_container div.cutomize_section div.width_height div div input {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
}
div.dpd_create_video .dpd_container div.cutomize_section button {
  color: #fff;
  box-shadow: 0 2px 0 1px rgba(64, 87, 109, 0.0705882353), 0 2px 12px rgba(53, 71, 90, 0.3137254902);
  padding: 8px 15px;
  border-radius: 6px;
  background-color: #5165ce;
  font-size: 0.9rem;
  font-weight: 600;
  margin-right: auto;
  width: 93%;
}

div.dpd_profile {
  min-width: 280px;
  max-width: 350px;
  padding: 20px 30px;
  transform: translate(-100%, 0.3rem);
}
div.dpd_profile .dpd_container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
div.dpd_profile .dpd_container ul li {
  cursor: pointer;
  padding: 10px 5px;
  display: inline-flex;
  align-items: center;
  border-radius: 6px;
  gap: 8px;
}
div.dpd_profile .dpd_container ul li:hover {
  background-color: #d4e2ff;
}
div.dpd_profile .dpd_container ul li span.text {
  display: inline-flex;
  gap: 3px;
}
div.dpd_profile .dpd_container ul li span.text span.icon {
  width: 20px;
  height: 20px;
}
div.dpd_profile .dpd_container ul li span.text span.username {
  width: 100px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}

div.dpd_custom_video {
  min-width: 280px;
  max-width: 350px;
  padding: 20px 30px;
  transform: translate(-100%, 0.3rem);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
div.dpd_custom_video h4 {
  font-size: 0.9rem;
}
div.dpd_custom_video div.width_height {
  display: flex;
  gap: 6px;
  margin-top: auto;
  margin-bottom: auto;
}
div.dpd_custom_video div.width_height div {
  flex: 1;
}
div.dpd_custom_video div.width_height div label {
  font-size: 0.9rem;
  font-weight: 600;
}
div.dpd_custom_video div.width_height div div {
  margin-top: 3px;
  display: flex;
  align-items: center;
  gap: 2px;
}
div.dpd_custom_video div.width_height div div input {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
}
div.dpd_custom_video button {
  color: #fff;
  box-shadow: 0 2px 0 1px rgba(64, 87, 109, 0.0705882353), 0 2px 12px rgba(53, 71, 90, 0.3137254902);
  padding: 8px 15px;
  border-radius: 6px;
  background-color: #5165ce;
  font-size: 0.9rem;
  font-weight: 600;
  margin-right: auto;
  width: 93%;
}

.dpd[data-modal-hidden=true],
.brandkit_modal_overlay[data-modal-hidden=true] {
  opacity: 0;
  pointer-events: none;
  display: none;
}

.dpd[data-modal-hidden=false],
.brandkit_modal_overlay[data-modal-hidden=false] {
  opacity: 1;
  pointer-events: all;
}

.brandkit_modal_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6666666667);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  z-index: 100;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}
.brandkit_modal_overlay .brandkit_container {
  max-width: 450px;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px 25px 25px;
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.6);
}
.brandkit_modal_overlay .brandkit_container .modal_grid {
  height: 100%;
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 30px;
  grid-template-columns: 120px 1fr;
  grid-template-areas: "head head" "logo name" "font1 font1" "font2 font2" "color color" "btn btn";
}
.brandkit_modal_overlay .brandkit_container .modal_grid .head {
  grid-area: head;
  display: flex;
  justify-content: space-between;
}
.brandkit_modal_overlay .brandkit_container .modal_grid .head .icon {
  cursor: pointer;
}
.brandkit_modal_overlay .brandkit_container .modal_grid .logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brandkit_modal_overlay .brandkit_container .modal_grid .logo .logo_ip {
  width: 100px;
  height: 100px;
  gap: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e7eeff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3764705882);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.brandkit_modal_overlay .brandkit_container .modal_grid .logo .logo_ip:active {
  scale: 0.96;
}
.brandkit_modal_overlay .brandkit_container .modal_grid .ip > div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.brandkit_modal_overlay .brandkit_container .modal_grid .ip > div label {
  font-weight: 500;
}
.brandkit_modal_overlay .brandkit_container .modal_grid .ip > div input,
.brandkit_modal_overlay .brandkit_container .modal_grid .ip > div select {
  font-size: 1rem;
  width: 100%;
  padding: 9px 6px;
  border: 1px solid #bfbfc8;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4392156863);
  background-color: #e7eeff;
}
.brandkit_modal_overlay .brandkit_container .modal_grid .name {
  grid-area: name;
  align-self: center;
}
.brandkit_modal_overlay .brandkit_container .modal_grid .primary_font {
  grid-area: font1;
}
.brandkit_modal_overlay .brandkit_container .modal_grid .sec_font {
  grid-area: font2;
}
.brandkit_modal_overlay .brandkit_container .modal_grid .colors {
  grid-area: color;
}
.brandkit_modal_overlay .brandkit_container .modal_grid .colors .color_ip {
  border: 1px solid #bfbfc8;
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 0.8rem;
}
.brandkit_modal_overlay .brandkit_container .modal_grid .colors .color_ip .set_color {
  margin-top: 8px;
  width: 250px;
  display: flex;
  gap: 10px;
}
.brandkit_modal_overlay .brandkit_container .modal_grid .colors .color_ip .set_color span {
  display: inline-block;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  background-color: var(--color);
  cursor: pointer;
  position: relative;
}
.brandkit_modal_overlay .brandkit_container .modal_grid .colors .color_ip .set_color span:active {
  scale: 0.9;
}
.brandkit_modal_overlay .brandkit_container .modal_grid .colors .color_ip .set_color span:hover::before {
  content: attr(data-color);
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50% 8px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: var(--color);
  padding: 8px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 900;
  color: #fff;
}
.brandkit_modal_overlay .brandkit_container .modal_grid .submit {
  grid-area: btn;
  justify-self: center;
}
.brandkit_modal_overlay .brandkit_container .modal_grid .submit button {
  color: #fff;
  font-size: 0.9rem;
  padding: 12px 70px;
  background: rgba(9, 18, 66, 0.6980392157);
  border-radius: 6px;
  background-color: #5165ce;
}
.brandkit_modal_overlay .brandkit_container .icon {
  width: 30px;
  height: 30px;
}

.progress_counter {
  margin: 30px auto auto 5px;
  position: relative;
}
.progress_counter div.button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: #a312bb;
  border-radius: 9px;
  cursor: pointer;
  box-shadow: 0 2px 0 1px rgba(64, 87, 109, 0.0705882353), 0 2px 12px rgba(53, 71, 90, 0.3137254902);
}
.progress_counter div.button .icon {
  width: 24px;
  display: flex;
  align-items: center;
  pointer-events: none;
}
.progress_counter div.button .counter {
  padding: 4px 10px;
  background-color: #fff;
  border-radius: 100px;
  font-weight: 600;
  pointer-events: none;
}
.progress_counter .bottom_checkboxes {
  z-index: 10;
  position: absolute;
  bottom: calc(100% + 10px);
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 0 1px rgba(64, 87, 109, 0.0705882353), 0 2px 12px rgba(53, 71, 90, 0.3137254902);
  border-radius: 8px;
  padding: 12px 12px 20px;
  width: 330px;
  display: flex;
  flex-direction: column;
}
.progress_counter .bottom_checkboxes .checkboxes_container h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}
.progress_counter .bottom_checkboxes .checkboxes_container h2 span {
  width: 28px;
}
.progress_counter .bottom_checkboxes .checkboxes_container p.status {
  font-weight: 700;
  color: #555;
}
.progress_counter .bottom_checkboxes .checkboxes_container .indicator progress {
  width: 100%;
}
.progress_counter .bottom_checkboxes .checkboxes_container ul.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 6px;
  list-style: none;
  margin-top: 10px;
}
.progress_counter .bottom_checkboxes .checkboxes_container ul.checkboxes li {
  display: flex;
  align-items: center;
  gap: 9px;
}
.progress_counter .bottom_checkboxes .checkboxes_container ul.checkboxes li[data-checked] span {
  background-image: url(./assets/icon/ic_checked.svg);
}
.progress_counter .bottom_checkboxes .checkboxes_container ul.checkboxes li[data-checked] label {
  color: #1a581c;
  font-weight: 600;
}
.progress_counter .bottom_checkboxes .checkboxes_container ul.checkboxes li span {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(./assets/icon/ic_notChecked.svg);
  background-size: cover;
}
.progress_counter .bottom_checkboxes[data-progress-show=false] {
  display: none;
}
.progress_counter .bottom_checkboxes[data-progress-show=true] {
  display: flex;
}

@media only screen and (min-width: 576px) {
  header > div .nav-btns button.create_video {
    position: static;
    width: unset;
    height: unset;
    padding: 10px 15px;
    border-radius: 10px;
  }
  header > div .nav-btns button.create_video span.plus {
    display: none;
  }
  header > div .nav-btns button.create_video span.text {
    display: contents;
  }
  div.dpd_create_video {
    width: 300px;
    height: 520px;
    transform: translate(-100%, 0.5rem);
    bottom: unset;
  }
  div.dpd_create_video .dpd_container div.dpd_head {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  header > div {
    padding: 6px 0;
  }
  header > div .ham {
    width: 28px;
    margin-right: 1rem;
  }
  header > div .logo {
    width: 120px;
  }
  header > div .nav-btns span.question {
    width: 32px;
    height: 32px;
  }
  header > div .nav-btns span.avatar {
    width: 52px;
    height: 52px;
  }
  header > div .nav-btns button.create_video {
    position: static;
    width: unset;
    height: unset;
    padding: 10px 15px;
    border-radius: 10px;
  }
  header > div .nav-btns button.create_video span.plus {
    display: none;
  }
  header > div .nav-btns button.create_video span.text {
    display: contents;
  }
  main section.vidds_main_container {
    padding: 10px;
  }
  main .route_container {
    width: calc(100vw - 20px);
    flex: 1;
  }
  main .route_container .sec {
    padding: 10px 10px 20px;
    border-radius: 10px;
  }
  main .route_container .sec .head h1 {
    font-size: 1.5rem;
  }
  main .route_container .sec .head button {
    color: #fff;
    font-size: 0.9rem;
    padding: 10px 30px;
    background: rgba(9, 18, 66, 0.6980392157);
    border-radius: 6px;
  }
  .brandkit_modal_overlay .brandkit_container {
    max-width: 768px;
  }
  .brandkit_modal_overlay .brandkit_container .modal_grid {
    -moz-column-gap: 60px;
         column-gap: 60px;
    row-gap: 40px;
    grid-template-columns: auto 1fr;
    grid-template-areas: "head head" "logo name" "logo font1" "color font2" ". btn";
  }
  .brandkit_modal_overlay .brandkit_container .modal_grid .logo .logo_ip {
    width: 150px;
    height: 150px;
  }
  .brandkit_modal_overlay .brandkit_container .modal_grid .submit {
    justify-self: end;
  }
}
@media only screen and (min-width: 992px) {
  main .aside-overlay {
    all: unset;
  }
  main .aside-overlay aside {
    position: unset;
    top: unset;
    left: unset;
  }
  main .aside-overlay[data-maximized=true] {
    pointer-events: none;
  }
  main .aside-overlay[data-maximized=true] aside {
    pointer-events: all;
    left: unset;
    width: 250px;
  }
  main .aside-overlay[data-maximized=true] aside ul.menu .text {
    visibility: visible;
  }
  main .aside-overlay[data-maximized=true] aside div.plans {
    visibility: visible;
  }
  main .aside-overlay[data-maximized=false] {
    pointer-events: none;
    opacity: 1;
  }
  main .aside-overlay[data-maximized=false] aside {
    pointer-events: all;
    left: unset;
    width: 67px;
  }
  main .aside-overlay[data-maximized=false] aside ul.menu .text {
    visibility: hidden;
    width: 0px;
  }
  main .aside-overlay[data-maximized=false] aside div.plans {
    visibility: hidden;
  }
  main section.vidds_main_container {
    padding: 20px;
  }
  main .route_container {
    flex: auto;
    width: 800px;
  }
  main .route_container .sec {
    padding: 10px 30px 20px;
  }
  main .route_container .sec .head h1 {
    font-size: 1.7rem;
  }
  main .route_container .sec .carousy_container {
    position: relative;
  }
  main .route_container .sec .carousy_container #d_c_container #d_c {
    gap: 40px;
    padding: 0 32px !important;
  }
  main .route_container .sec .carousy_container #d_c_container #d_c [data-carousy-el=card] {
    height: 150px;
  }
  main .route_container .sec .carousy_container #d_c_container #d_c [data-carousy-el=card-title] {
    font-size: 1rem;
  }
  main .route_container .sec .carousy_container .carousal_nav button {
    width: 40px;
    height: 40px;
  }
  main .route_container .sec .carousal_container ul .card_container {
    cursor: pointer;
  }
  main .route_container .sec .carousal_container ul .card_container div.card {
    height: 100px;
  }
  main .route_container .sec .carousal_container ul .card_container div.card:hover {
    background-color: rgba(0, 0, 0, 0.1882352941);
  }
  main .route_container .sec .carousal_container ul .card_container span.text {
    font-weight: 700;
  }
  main .route_container .sec .carousal_container .glide__arrows .carousal_nav {
    width: 40px;
    height: 40px;
  }
  main .route_container .sec.carousal_section .head {
    position: relative;
  }
  main .route_container .sec.carousal_section .head h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  main .route_container .sec.carousal_section .head button {
    margin-left: auto;
  }
}
@media only screen and (min-width: 1200px) {
  main section.vidds_main_container {
    padding: 30px 40px;
  }
  main .route_container {
    flex: auto;
    width: 800px;
  }
  main .route_container .sec .head h1 {
    font-size: 1.6rem;
  }
  main .route_container .sec .carousal_container ul .card_container div.card {
    height: 120px;
  }
  main .route_container .sec.vidds_container .cards_container {
    gap: 30px;
    max-height: 360px;
    grid-auto-flow: row;
    grid-template-columns: repeat(6, 1fr);
    overflow: auto;
  }
  main .route_container .sec.vidds_container .cards_container .card {
    width: 100%;
    aspect-ratio: 4.5/3;
    background-color: #e7eeff;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(40, 47, 49, 0.545);
  }
  main .route_container#vidds_my_vidds .cards_container {
    max-height: 550px;
  }
  main .route_container#vidds_brand_kits .cards_container {
    max-height: 180px;
  }
  main .route_container#vidds_templates .cards_container {
    max-height: 600px;
  }
}
@media only screen and (min-width: 1400px) {
  main section.vidds_main_container {
    padding: 30px 42px;
  }
  main .route_container {
    flex: auto;
    width: 800px;
  }
  main .route_container .sec .carousal_container ul .card_container div.card {
    height: 150px;
  }
}/*# sourceMappingURL=styles.css.map */