@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // outline: 1px solid red;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  height: 100vh;
  overflow: hidden;
}

$black: #222;
$lightblack: #555;
$white: #fff;
$gray: #bfbfc8;
$bg-blue-dark1: #091242;
$bg-blue-light: #e7eeff;
$btn-voilet: #a312bb;
$btn-blue: #5165ce;
$btn-blue-light: #89acfd;
$btn-box-shadow: 0 2px 0 1px #40576d12, 0 2px 12px #35475a50;
$hover-color: #d4e2ff;
$header-height: 64px;

@mixin linear-gradient($ang, $color1, $color2) {
  background-image: linear-gradient($ang, $color1, $color1, $color2);
}

// flex-center
@mixin fcn {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin scrollbar {
  /* width */
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #898989;
    border-radius: 30px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@mixin sec-button($a, $b) {
  color: #fff;
  font-size: 0.9rem;
  padding: $a $b;
  background: #091242b2;
  border-radius: 6px;
}

a {
  all: unset;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:active {
    scale: 0.95;
  }
}

input {
  border: 1px solid $lightblack;

  &:focus {
    outline: none;
  }
}

img {
  width: 100%;
  pointer-events: none;
}

.container {
  width: 100%;
  margin: 0 1rem;
}

#vidds_root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

header {
  width: 100%;
  border-bottom: 1px solid #d6d6d6;
  display: flex;
  align-items: center;
  background-color: #fff;
  z-index: 100;
  max-height: $header-height;

  & > div {
    display: flex;
    align-items: center;
    padding: 6px 0;

    .ham {
      width: 22px;
      margin-right: 0.7rem;
      cursor: pointer;
    }

    .logo {
      width: 100px;
    }

    .nav-btns {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 0.7rem;

      span {
        &.question {
          width: 25px;
          height: 25px;
          border-radius: 50%;
        }

        &.avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }

      button.create_video {
        position: absolute;
        z-index: 9;
        bottom: 2rem;
        right: 1rem;

        color: $white;
        box-shadow: $btn-box-shadow;
        @include linear-gradient(180deg, $btn-voilet, $btn-blue);
        @include fcn();

        width: 60px;
        height: 60px;
        border-radius: 50%;

        span {
          &.plus {
            width: 40px;
            height: 40px;
          }
          &.text {
            display: none;
            font-weight: 600;
          }
        }
      }
    }
  }
}

main {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;

  .aside-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    backdrop-filter: blur(3px);
    transition: 0.2s ease;
    z-index: 999;
  }

  aside {
    padding: 1.5rem 0.5rem;
    border-right: 1px solid #efefef;
    width: 250px;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    transition: 0.2s ease;
    background-color: #fff;

    position: absolute;
    top: 0;

    ul.menu {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      li {
        border-radius: 4px;
        &:hover,
        &[active] {
          cursor: pointer;
          background-color: $hover-color;
        }

        & > div {
          padding: 0.3rem 0.7rem;
          display: flex;
          align-items: center;
          gap: 0.5rem;

          .icon {
            min-width: 28px;
          }
          .text {
            font-weight: 600;
            color: $lightblack;
            font-size: 1rem;
            max-height: 28px;

            transition: 0.1s ease;
            min-width: 191px;
          }
        }
      }
    }

    div.plans {
      margin-top: 3rem;
      padding: 20px 10px;
      border-top: 1px solid #bfbfc8;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h3 {
        display: flex;
        align-items: center;

        .icon {
          min-width: 28px;
          margin-right: 0.5rem;
        }

        span.text {
          font-weight: 600;
          color: $lightblack;
          font-size: 1.2rem;
          min-width: 191px;
        }
      }

      .ranges {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & > span {
          display: flex;
          flex-direction: column;
          gap: 0.4rem;

          & > span {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0.9rem;

            label {
              font-size: 0.8rem;
              font-weight: 700;
            }

            a {
              all: revert;
              font-weight: 600;
            }
          }

          .progress {
            width: 100%;
            border-radius: 50px;
            height: 7px;
            box-shadow: 3px 3px 5px #00000030;
            overflow: hidden;

            .fill {
              background-color: $btn-blue;
              width: var(--width);
              height: 100%;
            }
          }
        }
      }

      button {
        margin-top: 1.2rem;
        width: 80%;
        align-self: center;
        padding: 8px 11px;
        font-weight: 700;
        font-size: 0.9rem;
        border: 2px solid $btn-blue;
        border-radius: 7px;

        &:hover {
          background-color: $btn-blue;
          color: #fff;
        }
      }
    }
  }

  .aside-overlay[data-maximized="true"] {
    opacity: 1;

    aside {
      left: 0;

      ul.menu .text {
        visibility: visible;
      }

      div.plans {
        visibility: visible;
      }
    }
  }

  .aside-overlay[data-maximized="false"] {
    opacity: 0;
    pointer-events: none;

    aside {
      left: -100%;

      ul.menu .text {
        visibility: hidden;
        width: 0px;
      }

      div.plans {
        visibility: hidden;
      }
    }
  }

  section.vidds_main_container {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: calc(100vh - $header-height);
    overflow: auto;
    padding-bottom: 100px;
    background-color: $white;
    background-color: #fafafa;

    & > div {
      flex-basis: 100%;
      display: none !important;

      &[active-route] {
        display: block !important;
        margin-inline: auto;
        animation: slide-in 0.3s ease;

        .spacer {
          padding: 10px;
        }
      }
    }
  }

  .route_container {
    width: 100vw;
    flex: 1;

    .sec {
      max-width: 100%;
      padding: 10px 5px 20px;
      @include linear-gradient(120deg, $btn-blue, $btn-blue-light);

      display: flex;
      flex-direction: column;
      overflow: hidden;
      position: relative;
      box-shadow: 0 2px 5px #00000050;

      .head {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
        color: $white;
        padding: 10px 10px 20px;

        h1 {
          font-size: 1rem;
        }

        button {
          @include sec-button(6px, 10px);
          font-size: 0.9rem;
        }

        & > span {
          cursor: pointer;
        }
      }

      .carousel.expand {
        padding: 0 0 0;
        overflow: hidden;
        transition: 0.3s ease;
        position: relative;

        .carousy_container .carousal_nav {
          top: 50%;
        }
      }

      .carousy_container {
        position: relative;

        #d_c_container {
          #d_c {
            gap: 16px;
            padding: 0 16px !important;
            list-style: none;

            [data-carousy-el="card"] {
              height: 100px;
              aspect-ratio: 4.5/3;
              background-color: $gray;
              border-radius: 10px;
            }

            [data-carousy-el="card-title"] {
              display: inline-block;
              margin-top: 0.3rem;
              user-select: none;
              color: $white;
              font-size: 0.9rem;
              font-weight: 600;
            }
          }
        }
        .carousal_nav {
          position: absolute;
          width: 100%;
          top: calc(50% - 0.65rem);
          left: 50%;
          transform: translate(-50%, -50%);
          pointer-events: none;

          display: flex;
          justify-content: space-between;

          button {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            pointer-events: all;
            box-shadow: 0 3px 10px #0000004f;
            background-color: #5165ce;
            border: 1px solid rgb(94, 94, 94);
          }
        }
      }

      .inputs {
        padding: 10px 10px 30px;
        display: flex;
        gap: 10px;

        select {
          padding: 10px 20px 10px 5px;
          width: 200px;
          border-radius: 4px;
          border: none;
          box-shadow: 0 2px 3px #00000050;
          background-color: #fff;
          font-size: 0.9rem;
        }

        div.ip {
          display: flex;
          align-items: center;
          background-color: #fff;
          box-shadow: 0 2px 3px #00000050;
          padding-right: 10px;
          border-radius: 4px;

          input {
            padding: 10px 20px 10px 5px;
            width: 150px;
            border-radius: 4px;
            border: none;
            font-size: 0.9rem;
          }

          .icon {
            width: 22px;
          }
        }
      }

      &.vidds_container {
        margin-top: 25px;
        @include linear-gradient(0, $hover-color, $hover-color);

        .head {
          color: $black;
        }

        .cards_container {
          padding: 0 10px 30px;
          display: grid;
          grid-auto-flow: row;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
          overflow-y: auto;
          max-height: 480px;

          /* width */
          &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
          }

          /* Track */
          &::-webkit-scrollbar-track {
            background: transparent;
          }

          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 10px;
          }

          .card {
            min-width: 150px;
            max-width: 225px;
            aspect-ratio: 5/3;
            background-color: $bg-blue-light;
            border-radius: 10px;
            box-shadow: 0 3px 5px rgba(40, 47, 49, 0.545);
            cursor: pointer;
            position: relative;

            &:hover {
              background-color: #00000010;
            }
          }
        }
      }

      &.section-3 {
        margin-top: 25px;
        @include linear-gradient(90deg, $bg-blue-dark1, $btn-blue);

        .head {
          h1 {
            margin: 0 auto;
          }
        }

        .carousy_container {
          .carousal_nav button {
            background-color: $bg-blue-dark1 !important;
            border: 1px solid rgb(94, 94, 94);
          }
        }
      }
    }

    &#vidds_my_vidds {
      .vidds_container {
        margin-top: 0;
      }

      .carousal_section {
        margin-top: 40px;
      }
    }

    &#vidds_brand_kits {
      .vidds_container {
        margin-top: 0;

        .cards_container .card {
          position: relative;

          .title {
            font-size: 0.9rem;
            font-weight: 600;
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
          }
          .option_btns {
            position: absolute;
            bottom: 5px;
            right: 10px;
          }
        }
      }
      .carousal_section {
        margin-top: 40px;
      }
    }

    &#vidds_templates {
      .vidds_container {
        margin-top: 0;

        .cards_container .card {
          &:hover {
            button {
              display: initial;
            }
          }
          button {
            display: none;
            position: absolute;
            left: 50%;
            bottom: 15px;
            transform: translateX(-50%);
            @include sec-button(7px, 14px);
            background-color: $btn-blue;
          }
        }
      }
    }
    &#vidds_tutorials {
      .vidds_container {
        @include linear-gradient(90deg, $bg-blue-dark1, $btn-blue);
        margin-top: 0;

        .head {
          color: $white;
        }

        .card:hover {
          background-color: $btn-blue;
        }
      }

      .carousal_section {
        margin-top: 20px;
      }
    }
  }
}

@keyframes slide-in {
  0% {
    position: relative;
    top: 10px;
    opacity: 0;
  }
  100% {
    position: relative;
    top: 0;
    opacity: 1;
  }
}

.dpd {
  position: absolute;
  box-shadow: 0 2px 10px #00000050;
  background-color: #fff;
  border-radius: 6px;
  transition: 0.2s ease;
}

div.dpd_create_video {
  z-index: 110;
  width: 100%;
  height: 570px;
  bottom: 0;
  left: 0;

  .dpd_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px 0 15px 0;

    div.dpd_head {
      padding: 0 20px 10px;

      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #e0e0e0;
    }

    div.platforms {
      height: 355px;
      overflow: auto;
      @include scrollbar();

      ul {
        list-style: none;
        font-size: 0.9rem;
        font-weight: 600;
        color: $lightblack;

        li {
          padding: 10px 20px;

          &:hover {
            background-color: $hover-color;
            cursor: pointer;
          }
        }
      }
    }

    div.cutomize_section {
      padding: 10px 20px;
      margin-top: auto;
      height: 153px;
      background-color: #f9f9f9;
      border-top: 1px solid $gray;

      display: flex;
      flex-direction: column;

      h4 {
        font-size: 0.9rem;
      }

      div.width_height {
        display: flex;
        gap: 6px;
        margin-top: auto;
        margin-bottom: auto;

        div {
          flex: 1;
          label {
            font-size: 0.9rem;
            font-weight: 600;
          }
          div {
            margin-top: 3px;
            display: flex;
            align-items: center;
            gap: 2px;
            input {
              width: 100%;
              padding: 5px;
              border-radius: 4px;
            }
          }
        }
      }

      button {
        color: $white;
        box-shadow: $btn-box-shadow;
        padding: 8px 15px;
        border-radius: 6px;
        background-color: $btn-blue;
        font-size: 0.9rem;
        font-weight: 600;
        margin-right: auto;
        width: 93%;
      }
    }
  }
}

div.dpd_profile {
  min-width: 280px;
  max-width: 350px;
  padding: 20px 30px;
  transform: translate(-100%, 0.3rem);

  .dpd_container ul {
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      cursor: pointer;
      padding: 10px 5px;
      display: inline-flex;
      align-items: center;
      border-radius: 6px;
      gap: 8px;

      &:hover {
        background-color: $hover-color;
      }

      span.text {
        display: inline-flex;
        gap: 3px;
        span.icon {
          width: 20px;
          height: 20px;
        }

        span.username {
          width: 100px;
          overflow: hidden;
          display: inline-block;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

div.dpd_custom_video {
  min-width: 280px;
  max-width: 350px;
  padding: 20px 30px;
  transform: translate(-100%, 0.3rem);

  display: flex;
  flex-direction: column;
  gap: 20px;

  h4 {
    font-size: 0.9rem;
  }

  div.width_height {
    display: flex;
    gap: 6px;
    margin-top: auto;
    margin-bottom: auto;

    div {
      flex: 1;
      label {
        font-size: 0.9rem;
        font-weight: 600;
      }
      div {
        margin-top: 3px;
        display: flex;
        align-items: center;
        gap: 2px;
        input {
          width: 100%;
          padding: 5px;
          border-radius: 4px;
        }
      }
    }
  }

  button {
    color: $white;
    box-shadow: $btn-box-shadow;
    padding: 8px 15px;
    border-radius: 6px;
    background-color: $btn-blue;
    font-size: 0.9rem;
    font-weight: 600;
    margin-right: auto;
    width: 93%;
  }
}

.dpd[data-modal-hidden="true"],
.brandkit_modal_overlay[data-modal-hidden="true"] {
  opacity: 0;
  pointer-events: none;
  display: none;
}

.dpd[data-modal-hidden="false"],
.brandkit_modal_overlay[data-modal-hidden="false"] {
  opacity: 1;
  pointer-events: all;
  // display: unset;
}

.brandkit_modal_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000aa;
  backdrop-filter: blur(1px);
  z-index: 100;
  padding: 5px;
  @include fcn();
  transition: 0.2s ease;

  .brandkit_container {
    max-width: 450px;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px 25px 25px;
    box-shadow: 0 5px 20px 5px #00000099;

    .modal_grid {
      height: 100%;
      display: grid;
      column-gap: 20px;
      row-gap: 30px;
      grid-template-columns: 120px 1fr;
      grid-template-areas:
        "head head"
        "logo name"
        "font1 font1"
        "font2 font2"
        "color color"
        "btn btn";

      .head {
        grid-area: head;
        display: flex;
        justify-content: space-between;

        .icon {
          cursor: pointer;
        }
      }

      .logo {
        grid-area: logo;
        @include fcn();

        .logo_ip {
          width: 100px;
          height: 100px;
          gap: 5px;
          border-radius: 10px;
          @include fcn();
          flex-direction: column;
          background-color: $bg-blue-light;
          box-shadow: 0 2px 5px #00000060;
          user-select: none;
          cursor: pointer;

          &:active {
            scale: 0.96;
          }
        }
      }

      .ip {
        & > div {
          display: flex;
          flex-direction: column;
          gap: 6px;

          label {
            font-weight: 500;
          }

          input,
          select {
            font-size: 1rem;
            width: 100%;
            padding: 9px 6px;
            border: 1px solid $gray;
            border-radius: 5px;
            box-shadow: 0 1px 3px #00000070;
            background-color: $bg-blue-light;
          }
        }
      }

      .name {
        grid-area: name;
        align-self: center;
      }

      .primary_font {
        grid-area: font1;
      }

      .sec_font {
        grid-area: font2;
      }

      .colors {
        grid-area: color;

        .color_ip {
          border: 1px solid $gray;
          padding: 8px 10px;
          border-radius: 6px;
          font-size: 0.8rem;

          .set_color {
            margin-top: 8px;
            width: 250px;
            display: flex;
            gap: 10px;

            span {
              display: inline-block;
              border-radius: 50%;
              width: 23px;
              height: 23px;
              background-color: var(--color);
              cursor: pointer;
              position: relative;

              &:active {
                scale: 0.9;
              }

              &:hover::before {
                content: attr(data-color);
                position: absolute;
                top: 100%;
                left: 50%;
                translate: -50% 8px;
                width: max-content;
                background-color: var(--color);
                padding: 8px;
                border-radius: 5px;
                font-size: 0.9rem;
                font-weight: 900;
                color: $white;
              }
            }
          }
        }
      }

      .submit {
        grid-area: btn;
        justify-self: center;

        button {
          @include sec-button(12px, 70px);
          background-color: $btn-blue;
        }
      }
    }

    .icon {
      width: 30px;
      height: 30px;
    }
  }
}

.progress_counter {
  margin: 30px auto auto 5px;
  position: relative;

  div.button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: $btn-voilet;
    border-radius: 9px;
    cursor: pointer;
    box-shadow: $btn-box-shadow;

    .icon {
      width: 24px;
      display: flex;
      align-items: center;
      pointer-events: none;
    }

    .counter {
      padding: 4px 10px;
      background-color: $white;
      border-radius: 100px;
      font-weight: 600;
      pointer-events: none;
    }
  }

  .bottom_checkboxes {
    z-index: 10;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 0;
    background-color: #fff;
    box-shadow: $btn-box-shadow;
    border-radius: 8px;
    padding: 12px 12px 20px;
    width: 330px;
    display: flex;
    flex-direction: column;

    .checkboxes_container {
      h2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;

        span {
          width: 28px;
        }
      }

      p.status {
        font-weight: 700;
        color: $lightblack;
      }

      .indicator {
        progress {
          width: 100%;
        }
      }

      ul.checkboxes {
        display: flex;
        flex-direction: column;
        gap: 6px;
        list-style: none;
        margin-top: 10px;

        li {
          display: flex;
          align-items: center;
          gap: 9px;

          &[data-checked] {
            span {
              background-image: url(./assets/icon/ic_checked.svg);
            }
            label {
              color: #1a581c;
              font-weight: 600;
            }
          }

          span {
            display: inline-block;
            width: 24px;
            height: 24px;
            background-image: url(./assets/icon/ic_notChecked.svg);
            background-size: cover;
          }
        }
      }
    }
  }

  .bottom_checkboxes[data-progress-show="false"] {
    display: none;
  }
  .bottom_checkboxes[data-progress-show="true"] {
    display: flex;
  }
}

@media only screen and (min-width: 576px) {
  header {
    & > div {
      .nav-btns {
        button.create_video {
          position: static;
          width: unset;
          height: unset;
          padding: 10px 15px;
          border-radius: 10px;

          span {
            &.plus {
              display: none;
            }
            &.text {
              display: contents;
            }
          }
        }
      }
    }
  }

  div.dpd_create_video {
    width: 300px;
    height: 520px;
    transform: translate(-100%, 0.5rem);
    bottom: unset;

    .dpd_container {
      div.dpd_head {
        display: none;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  header {
    & > div {
      padding: 6px 0;

      .ham {
        width: 28px;
        margin-right: 1rem;
      }

      .logo {
        width: 120px;
      }

      .nav-btns {
        span {
          &.question {
            width: 32px;
            height: 32px;
          }

          &.avatar {
            width: 52px;
            height: 52px;
          }
        }
        button.create_video {
          position: static;

          width: unset;
          height: unset;
          padding: 10px 15px;
          border-radius: 10px;

          span {
            &.plus {
              display: none;
            }
            &.text {
              display: contents;
            }
          }
        }
      }
    }
  }

  main {
    section.vidds_main_container {
      padding: 10px;
    }

    .route_container {
      width: calc(100vw - 20px);
      flex: 1;

      .sec {
        padding: 10px 10px 20px;
        border-radius: 10px;

        .head {
          h1 {
            font-size: 1.5rem;
          }

          button {
            @include sec-button(10px, 30px);
          }
        }

        &.vidds_container {
          .cards_container {
            gap: 30px;
            grid-template-columns: repeat(3, 1fr);
          }
        }
      }
    }
  }

  .brandkit_modal_overlay {
    .brandkit_container {
      max-width: 768px;

      .modal_grid {
        column-gap: 60px;
        row-gap: 40px;
        grid-template-columns: auto 1fr;
        grid-template-areas:
          "head head"
          "logo name"
          "logo font1"
          "color font2"
          ". btn";

        .logo {
          .logo_ip {
            width: 150px;
            height: 150px;
          }
        }

        .submit {
          justify-self: end;
        }
      }
    }
  }
}
@media only screen and (min-width: 992px) {
  main {
    .aside-overlay {
      all: unset;

      aside {
        position: unset;
        top: unset;
        left: unset;
      }
    }

    .aside-overlay[data-maximized="true"] {
      pointer-events: none;

      aside {
        pointer-events: all;
        left: unset;
        width: 250px;

        ul.menu .text {
          visibility: visible;
        }

        div.plans {
          visibility: visible;
        }
      }
    }

    .aside-overlay[data-maximized="false"] {
      pointer-events: none;
      opacity: 1;

      aside {
        pointer-events: all;
        left: unset;
        width: 67px;

        ul.menu .text {
          visibility: hidden;
          width: 0px;
        }

        div.plans {
          visibility: hidden;
        }
      }
    }

    section.vidds_main_container {
      padding: 20px;
    }

    .route_container {
      flex: auto;
      width: 800px;

      .sec {
        padding: 10px 30px 20px;

        .head {
          h1 {
            font-size: 1.7rem;
          }
        }

        .carousy_container {
          position: relative;

          #d_c_container {
            #d_c {
              gap: 40px;
              padding: 0 32px !important;

              [data-carousy-el="card"] {
                height: 150px;
              }

              [data-carousy-el="card-title"] {
                font-size: 1rem;
              }
            }
          }
          .carousal_nav {
            button {
              width: 40px;
              height: 40px;
            }
          }
        }

        &.carousal_section {
          .head {
            position: relative;

            h1 {
              @include absolute-center();
            }

            button {
              margin-left: auto;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  main {
    section.vidds_main_container {
      padding: 30px 40px;
    }

    .route_container {
      flex: auto;
      width: 800px;

      .sec {
        .head {
          h1 {
            font-size: 1.6rem;
          }
        }

        &.vidds_container {
          .cards_container {
            gap: 30px;
            max-height: 360px;
            grid-auto-flow: row;
            grid-template-columns: repeat(5, 1fr);
            overflow: auto;

            .card {
              width: 100%;
              aspect-ratio: 4.5/3;
              background-color: $bg-blue-light;
              border-radius: 10px;
              box-shadow: 0 3px 5px rgba(40, 47, 49, 0.545);
            }
          }
        }
      }

      &#vidds_my_vidds .cards_container {
        max-height: 550px;
      }
      &#vidds_brand_kits .cards_container {
        max-height: 180px;
      }
      &#vidds_templates .cards_container {
        max-height: 600px;
      }
    }
  }
}
@media only screen and (min-width: 1400px) {
  main {
    section.vidds_main_container {
      padding: 30px 42px;
    }

    .route_container {
      flex: auto;
      width: 800px;

      .sec.vidds_container {
        .cards_container {
          grid-template-columns: repeat(6, 1fr);
        }
      }
    }
  }
}
